<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="LogToConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread{10}] %logger{0}\(%line\) - %msg %n </pattern>
        </encoder>
    </appender>

    <logger name="jdbc.sqltiming" level="debug" additivity="false">
        <appender-ref ref="LogToConsole"/>
    </logger>
    <logger name="jdbc.sqlonly" level="error" additivity="false">
        <appender-ref ref="LogToConsole"/>
    </logger>
    <logger name="jdbc.audit" level="error" additivity="false">
        <appender-ref ref="LogToConsole"/>
    </logger>
    <logger name="jdbc.resultset" level="error" additivity="false">
        <appender-ref ref="LogToConsole"/>
    </logger>
    <logger name="jdbc.resultsettable" level="debug" additivity="false">
        <appender-ref ref="LogToConsole"/>
    </logger>
    <logger name="jdbc.connection" level="error" additivity="false">
        <appender-ref ref="LogToConsole"/>
    </logger>

    <root level="info">
        <appender-ref ref="LogToConsole"/>
    </root>
</configuration>